@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header{
    background-color: aqua;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}
input:hover
{
    border-bottom:5px solid grey;
}
.input[id='password']
{
    padding: 10px;
    border:none; 
    width:100%;
    outline:none;
    border-bottom: 5px solid gray;
    display:block; 
    position:relative;
    font-size:14px;
    text-align:center;
    top:50px;
    margin-top: -20px;
    margin-left:35px;
    margin-bottom:40px;
    user-select:auto;
    font-family:inherit;
    transition-duration:600ms;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: red;
}


.form-control i {
    position: absolute;
    visibility: hidden;
    top: 40px;
    right: 10px;
}

#eye
{
    color:black;
    margin: '\f037'; 
    margin-right:20px;
    margin-top:0px;
    cursor:pointer; 
    transition-duration:0.2s;
    visibility: visible;
    padding-left: 25px;





}

.form-control.success i.fa-check-circle{
    visibility: visible;
    color: green;
}

.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: red;
}



.form-control small{
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;

}

.form-control.error small{
    visibility: visible;
    color: red;

}

.form button{
    background-color: aquamarine;
    border: 2px solid aqua;
    color: grey;
    display: block;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
    width: 100%;
}


#password-policy
{
    display:block ;
    position: relative;;
    margin:auto;
}
#length
{
   display:block;
   position:relative ;
   margin:1%; margin-bottom:1%;
   color:#000; font-size:14px;
   text-indent:40px;
   font-weight:bolder;
   
}


i
{
    font-size:30px;
    transition-duration:600ms;    
}
#char8cter,#char10cter,#numcharacter,#speccharacter
{
   display:block;
   position:relative;
   margin:4%;
   color:red; font-size:14px;
   width:100% ;
   visibility: visible;
   
}
span
{
    margin:10px;
    font-weight: lighter;
}








